<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>DashB | Play With Your DATA</title>
    <link rel="icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/plugins.css" %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static "assets/css/apps/scrumboard.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/forms/theme-checkbox-radio.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "plugins/apex/apexcharts.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/dashboard/dash_1.css" %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">




    <style>

    table {
    border: 1px solid white;
    border-collapse: separate;
    border-left: 0;
    border-radius: 10px;
    border-spacing: 0px;
    }
    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        border-collapse: separate;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    th, td {
        padding: 5px 4px 6px 4px;
        text-align: left;
        vertical-align: top;
        border-left: 1px solid #ddd;
    }
    td {
        border-top: 1px solid #ddd;
    }
    thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
        border-radius: 4px 0 0 0;
    }
    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }

    </style>
</head>
<body class="alt-menu sidebar-noneoverflow">


    <!--  BEGIN NAVBAR  -->
    <div class="header-container">
        <header class="header navbar navbar-expand-sm">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="{% url 'home' %}"><img alt="logo" src="{% static "assets/img/arrow-down.png" %}"> <span class="navbar-brand-name">DashB | Play with your Data</span></a>
            </div>

            <ul class="navbar-item flex-row mr-auto">

            </ul>

            <ul class="navbar-item flex-row nav-dropdowns">

                <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="user-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media">
                            <img src="{% static "assets/img/arrow-down.png" %}" class="img-fluid" alt="admin-profile">
                            <div class="media-body align-self-center">
                                <h6><span>Hi,</span> {{request.user.username}}</h6>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </a>
                    <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="user-profile-dropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a class="" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> My Profile</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="{% url 'upload' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Upload New Data</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="{% url 'visual' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Dashboard</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="{% url 'logout' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                            <div class="dropdown-item">
                              <a class="" href="{% url 'next' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                          </div>

                        </div>
                    </div>

                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

    {% include 'data/messages.html' %}
      <!--  BEGIN CONTENT AREA  -->
      <div id="content" class="main-content">
          <div class="layout-px-spacing">
              <div class="action-btn layout-top-spacing mb-5">
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg> Boards</p>


                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#adduserModal">
                    <a class="addTask"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> <strong>Operate the data</strong></a>
                  </button>

                  <a href="{% url 'visual' %}" target="_blank"><button class="btn btn-dark"><strong>Visualize your Data with DashViz</strong></button></a>


                  <div class="modal fade" id="adduserModal" tabindex="-1" aria-labelledby="adduserModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="adduserModalLabel">Select<strong> Column</strong> and <strong> Operation</strong></h5>

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="{% url 'data_operation' %}" method="post">
                            {% csrf_token %}
                              <label style="color:#000000;"><strong>Select Target Column</strong></label>
                            <select name="target-col" class="form-control form-control-sm selectpicker" data-live-search="true">
                                {% for col in data_columns %}
                                <option>{{ col }}</option>
                                {% endfor %}
                            </select>
                          <hr>
                            <div class="alert alert-danger" role="alert">
                                  <strong>WARNING: Don't perform any operation on target column</strong>
                              </div>
                            {% for col in data_columns %}
                            <label for="SelectColumnOperation"><strong style="color:#00001a;">{{col}}</strong></label>
                            <a style="color:#ffffff;" class="badge badge-light float-right" type="button" data-toggle="collapse" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample">
                                 <img src="https://img.icons8.com/android/24/000000/source-code.png"/>  </a>


                            <input name="{{col}}" id="SelectColumnOperation" class="form-control mb-4" type="text" placeholder="Operation on data  column">

                            <div class="collapse" id="collapseExample-{{ col }}">
                              <div class="card card-body">
                                  <span class="badge badge-dark">Arguments : ( data , col )</span>
                                  <br>
                                    <input name="code-{{col}}" class="form-control mb-4" type="text" placeholder="Write some Code">

                              </div>
                            </div>
                            {% endfor %}

                            <hr>

                            <label style="color:#000000;"><strong>Remove Zero & NonZero Variance</strong></label>
                              <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="zero-variance" class="form-control form-control-sm">
                                <option></option>
                                <option>YES</option>
                            </select>

                            <hr>

                            <!-- <label style="color:#000000;"><strong>Create CV with rare levels</strong></label>
                               <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                  <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="new-cat-feature-by-rare" class="form-control form-control-sm">
                                <option></option>
                                <option>YES</option>
                            </select>

                            <hr> -->

                              <label style="color:#000000;"><strong>Group Similiar features</strong></label>
                                <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                 <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="Gp-sim-feature" class="form-control form-control-sm">
                                <option></option>
                                <option>YES</option>
                            </select>

                            <hr>

                              <label style="color:#000000;"><strong>Scale and Transform</strong></label>
                                <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                 <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="scale" class="form-control form-control-sm">
                                <option></option>
                                <option>ZScore</option>
                                <option>MinMax</option>
                                <option>YJ</option>
                                <option>Quantile</option>
                                <option>Robust</option>
                                <option>MaxAbs</option>
                            </select>

                            <hr>

                              <!-- <label style="color:#000000;"><strong>Target Transform</strong></label>
                                <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                 <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="target-scale" class="form-control form-control-sm">
                                <option></option>
                                <option>Box-Cox</option>
                                <option>YJ</option>
                            </select>

                            <hr> -->

                              <label style="color:#000000;"><strong>Dimensionality Reduction</strong></label>
                                <a style="color:#ffffff;" class="badge badge-light float-right" data-placement="left" type="button" data-toggle="collapse tooltip" data-target="#collapseExample-{{ col }}" aria-expanded="false" aria-controls="collapseExample" title="Remove the features which have zero and non zero variance">
                                 <img src="https://img.icons8.com/windows/32/000000/question.png"/></a>
                            <select name="dim-reduction" class="form-control form-control-sm">
                                <option></option>
                                <option>PCA</option>
                                <option>tsne</option>
                            </select>

                            <hr>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Proceed</button>
                                <input type="submit" class="btn btn-secondary" name="" value="Add">
                              </div>
                        </form>
                       </div>
                      </div>
                    </div>
                  </div>
              </div>


              <div class="row scrumboard" id="cancel-row">
                  <div class="col-lg-12 layout-spacing">

                    <div class="alert btn-outline-dark" role="alert">
                      <strong>Drop -- int64 -- float64 -- FillNanWithMean -- FillNanWithMedian -- FillNanWithStd -- FillNanWithMean>LabelEncode -- FillNanWithMedian>LabelEncode -- FillNanWithMean>OneHotEncode </strong>
                    </div>

                  <div class="row">
                    <div class="col">
                      <div class="">
                        <div class="card card-body">
                          <h5 class="card-title">Data Shape </h5>
                          <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1"><strong>Total features in Dataset : {{columns}}</strong></button>
                            <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><strong>Total records in dataset : {{rows}}</strong>  </button>
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                  <!-- data related to columns -->
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                  <!-- data related to rows -->
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <div class="card card-body">
                          <h5 class="card-title">Datatype and Null Count</h5>
                          <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3"><strong>Numerical Data</strong></button>
                            <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4"><strong>Categorical Data</strong>  </button>

                          <!-- <div class="row"> -->
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample3">
                                <div class="card card-body">
                                  {% for key, value in num_desc.items %}
                                    <span class="badge badge-pill badge-light">{{key}}    :  {{value}}/{{rows}}</span>
                                    <br>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample4">
                                <div class="card card-body">
                                  {% for key, value in cat_desc.items %}
                                  <span class="badge badge-pill badge-light">{{key}}    :  {{value}}/{{rows}}</span>
                                  <br>
                                    <!-- <p>{{key}}:{{value}}/{{rows}}</p> -->
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <div class="card card-body">
                          <h5 class="card-title">Commands</h5>
                          <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5"><strong>Active Commands</strong></button>
                            <br>
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6"><strong>Suggestions</strong>  </button>

                          <!-- <div class="row"> -->
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample5">
                                <div class="card card-body">
                                  <br>
                                  <button  class="btn btn-light" type="button"><strong>Int64</strong></button>
                                  <button class="btn btn-light" type="button"><strong>Float64</strong></button>

                                  <button class="btn btn-light" type="button"><strong>Drop</strong></button>
                                  <button class="btn btn-light" type="button"><strong>DropNanFromRows</strong></button>
                                  <button class="btn btn-light" type="button"><strong>DropNanFromColumn</strong></button>
                                  <button class="btn btn-light" type="button"><strong>DropDuplicate</strong></button>

                                  <button class="btn btn-light" type="button"><strong>FillNanWithZero</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithPrecedenceAndZero</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithOccurance</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMean</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMedian</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithStd</strong></button>

                                  <button class="btn btn-light" type="button"><strong>FillNanWithOccurance>LabelEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMean>LabelEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMedian>LabelEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMode>LabelEncode</strong></button>

                                  <button class="btn btn-light" type="button"><strong>FillNanWithOccurance>OneHotEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMean>OneHotEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMedian>OneHotEncode</strong></button>
                                  <button class="btn btn-light" type="button"><strong>FillNanWithMode>OneHotEncode</strong></button>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample6">
                                <div class="card card-body">
                                  <p><strong>Do OTHER TASK BC HAR CARD ME MUJHE HI BHAR DO</strong></p>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>


                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-one">
                            <div class="widget-heading">
                                <h5 class="">DataSet's First 20 Records</h5>
                                <ul class="tabs tab-pills">
                                    <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">.csv</a></li>
                                </ul>
                            </div>

                            <div class="widget-content task-list-section">
                                <div class="tabs tab-content">
                                    <strong style="color:#001a4d;">{{obj|safe}}</strong>

                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-one">
                            <div class="widget-heading">
                                <h5 class="">DataSet's categorical data Description</h5>
{#                                <ul class="tabs tab-pills">#}
{#                                    <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">.csv</a></li>#}
{#                                </ul>#}
                            </div>

                            <div class="widget-content task-list-section">
                                <div class="tabs tab-content">
                                    <strong style="color:#001a4d;">{{data_desc_obj|safe}}</strong>

                                </div>
                            </div>
                        </div>
                      </div>


                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-one">
                            <div class="widget-heading">
                                <h5 class="">DataSet's Correlation </h5>
{#                                <ul class="tabs tab-pills">#}
{#                                    <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">.csv</a></li>#}
{#                                </ul>#}
                            </div>

                            <div class="widget-content task-list-section">
                                <div class="tabs tab-content">
                                    <strong style="color:#001a4d;">{{corr|safe}}</strong>

                                </div>
                            </div>
                        </div>
                      </div>

                    </div>

                  </div>
              </div>

          </div>
      </div>



      <div class="footer-wrapper">
              <div class="footer-section f-section-1">
                  <p class="">Copyright © 2020 <a target="_blank" href="#">DashB.ai</a>, All rights reserved.</p>
              </div>
              <div class="footer-section f-section-2">
                  <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> in india</p>
              </div>
          </div>
        </div>
        <!--  END CONTENT AREA  -->


      </div>
      <!-- END MAIN CONTAINER -->

    </div>



    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static "assets/js/libs/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "plugins/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/perfect-scrollbar/perfect-scrollbar.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>

    <script>
        $(document).ready(function() {
            App.init();
        });


        setTimeout(function (){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 4000 )

    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


    <script src="{% static "assets/js/custom.js" %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

</body>
</html>
