argon2-cffi==20.1.0
asgiref==3.2.10
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.4
click==7.1.2
colorama==0.4.4
combo==0.1.1
cycler==0.10.0
dash==1.18.1
dash-bootstrap-components==0.10.7
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.2
django-bootstrap4==2.2.0
django-plotly-dash==1.4.2
django-widget-tweaks==1.4.8
dpd-components==0.1.0
dpd-static-support==0.0.5
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
importlib-metadata==1.7.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json2html==1.3.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
llvmlite==0.34.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mysql-connector-python==8.0.22
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numba==0.51.2
numpy==1.19.2
packaging==20.8
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.11.0
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
pycparser==2.20
Pygments==2.7.3
pyod==0.8.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
pywinpty==0.5.7
pyzmq==20.0.0
retrying==1.3.3
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
statsmodels==0.12.0
suod==0.0.4
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wincertstore==0.2
yapf==0.30.0
zipp==3.3.0
