<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>DashB - Resetpass</title>
    <link rel="icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/plugins.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/authentication/form-2.css" %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms/theme-checkbox-radio.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms/switches.css" %}">
</head>
<body class="form">


    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Reset Password</h1>
                        <div class="division">
                              <span>|</span>
                        </div>
                          <form class="text-left" action="{% url 'login' %}" method="post">
                          {% csrf_token %}
                            <div class="form">
                              {% bootstrap_form form %}
                              <div class="d-sm-flex justify-content-between">
                                 <div class="field-wrapper">
                                     <input type="submit" class="btn btn-primary" value="Reset"/>
                                 </div>
                              </div>
                            </div>
                         </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static "assets/js/libs/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static "assets/js/authentication/form-2.js" %}"></script>

</body>
</html>
