<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>DashB - EmailSent</title>
    <link rel="icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/plugins.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/pages/error/style-maintanence.css" %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="maintanence text-center">

    <div class="container-fluid maintanence-content">
        <div class="">
            <div class="maintanence-hero-img">
                <img alt="logo" src="{% static "assets/img/90x90.jpg" %}">
            </div>
            <h1 class="error-title">Password reset sent successfully</h1>
            <p class="error-text">Go Checkout your Email</p>
            <p class="text">We've emailed you instructions for setting your password, if an account exists with the email you enrolled, You should recieve them shortly</p>
            <p class="text">If you don't recieve an email, please make sure you've enrolled the address you registered with, and check your <strong>Spam folder</strong></p>

        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static "assets/js/libs/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>
